.desc{
    background-color: #000;
    bottom:  0;
    color:  #fff;
    opacity:  0.5;
    position:  absolute;
    width:  300px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
        
    
    
    
}
.desc-div{
    position:relative;
    
}